$sidebar: 100vh;
$sidebar-header: 5vh;
$sidebar-user: 20vh;
$sidebar-menu: $sidebar - ($sidebar-header + $sidebar-user);

.sidebar {
  height: $sidebar;
}

.sidebar-header {
  box-sizing: border-box;
  height: $sidebar-header;
  padding: 12px;
}

.sidebar-menu {
  height: $sidebar-menu;
}

.sidebar-menu-item {
  background-color: var(--sidebar-btn-color);
  box-sizing: border-box;
  height: 46px;
  margin-bottom: 10px;
  padding: 12px;
  width: 259px;

  a {
    color: var(--text-secondary-color);
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
  }

  .menu-icon {
    color: #fff;
    padding-right: 10px;
  }

  .active {
    color: var(--text-secondary-color);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
  }
}

.sidebar-user {
  color: var(--text-secondary-color);
  font-size: 18px;
  height: $sidebar-user;
  padding: 0 0 0 10px;
  width: 279px;
}

.user-name {
  padding: 0 0 0 10px;
  width: 100%;
}

.user-menu {
  width: 70px;
}

.avatar-name {
  background-color: var(--sidebar-btn-color);
  border-radius: 50%;
  color: var(--text-secondary-color);
  font-weight: 700;
  height: 50px;
  width: 50px;
}

.avatar {
  width: 50px;
}
