<app-page-container title="Kandydaci">
  <div class="action-section" *ngIf="isRoute">
    <ng-container *ngIf="resumeUrl; else notFound">
      <a
        class="attachment-download"
        [href]="resumeUrl"
        target="_blank"
        mat-flat-button
        color="primary"
        [download]="(candidate$ | async)?.attachment">
        Pobierz Załącznik
      </a>
    </ng-container>
    <ng-template #notFound
      ><span class="not-found">Brak załącznika</span></ng-template
    >
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</app-page-container>
