<div class="authenticate flex flex-justify-center flex-align-center">
  <div class="authenticate-form flex flex-direction-column">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Kod autorazacyjny</mat-label>
      <input
        matInput
        #twoFactorAuthenticateCode
        maxlength="6"
        [(ngModel)]="code"
        placeholder="Kod" />
      <mat-hint align="end"
        >{{ twoFactorAuthenticateCode.value.length }}/6</mat-hint
      >
    </mat-form-field>
    <button
      class="login-button"
      type="submit"
      (click)="twoFactorAuthenticate(twoFactorAuthenticateCode.value)"
      mat-flat-button
      color="primary">
      Wyślij
    </button>
  </div>
</div>
