<app-page-container title="O aplikacji">
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
      cumque doloremque eveniet iure nisi repellat soluta voluptates? At
      inventore quibusdam saepe sequi. Aut dolor dolores doloribus ea esse est
      eum ex facere fugit illo impedit ipsa iste iure magnam, nam odio qui quos
      soluta suscipit totam. Delectus dolores perspiciatis ullam!
    </p>
    <p>
      Sed nibh lacus, suscipit in nulla sed, convallis faucibus mi. Etiam justo
      nunc, viverra non venenatis vitae, ultricies vel ex. Suspendisse tincidunt
      sodales sem, quis malesuada elit sodales in. Vestibulum in ex quis nisl
      venenatis finibus. Vivamus turpis massa, congue suscipit convallis ut,
      ornare eget elit. Nunc quis quam maximus, porttitor nunc sed, molestie
      massa. Nam non est ligula. Phasellus vehicula odio nulla, id efficitur
      massa fermentum ac. Quisque faucibus lorem vel lacus fringilla, ut rhoncus
      purus euismod. Nunc in dui quis eros malesuada imperdiet. Pellentesque
      lobortis, metus nec gravida accumsan, risus nisi porttitor arcu, sit amet
      imperdiet arcu ipsum in ligula. Quisque in semper magna. Nullam in libero
      ligula. Vivamus id nisi ut velit porta lobortis. Etiam dignissim, sapien
      at finibus aliquet, lorem neque aliquet libero, in molestie leo ligula
      quis urna. Donec tincidunt risus sollicitudin quam convallis pretium.
      Vivamus aliquet facilisis dapibus. Curabitur odio ex, viverra in dictum
      ut, pharetra vitae sapien.
    </p>
  </div>
</app-page-container>
