.two-factor{
  min-height: 200px;
}
.generate-button {
  margin-bottom: 20px;
}
.enabled2fa-button {
  margin-bottom: 20px;
}
.qrCode {
  width: 180px;
  height: 180px;
  display: block;
  margin-bottom: 20px;
}
