<div
  class="two-factor flex flex-direction-column flex-align-center flex-justify-center">
  <button
    class="generate-button"
    type="submit"
    *ngIf="!enabled2fa"
    (click)="generate()"
    mat-flat-button
    color="primary">
    Rejestracja dwustopniowego logowania
  </button>
  <button
    class="generate-button"
    type="submit"
    *ngIf="!enabled2fa"
    (click)="redirectTo2fa()"
    mat-flat-button
    color="primary">
    Logowanie dwustopniowe
  </button>
  <ng-container *ngIf="enabled2fa">
    <span class="qr-code-text">
      Zeskanuj kod aplikacja Google Authenticator
    </span>
    <img class="qr-code" [src]="qrImage" alt="" />
    <mat-form-field class="two-factor-input" appearance="outline">
      <mat-label>Włącz logowanie dwustopniowe</mat-label>
      <input
        matInput
        #code2fa
        maxlength="6"
        [(ngModel)]="code"
        placeholder="Kod z Google Authenticator"
        value="94043" />
      <mat-hint align="end">{{ code2fa.value.length }} / 6</mat-hint>
    </mat-form-field>
    <button
      class="enabled2fa-button"
      type="submit"
      (click)="turnOn2fa(code2fa.value)"
      mat-flat-button
      color="primary">
      Włącz logowanie dwustopniowe
    </button>
  </ng-container>
</div>
