@import 'src/variables';

.two-factor {
  min-height: 200px;
}

.two-factor-input {
  width: $width-login-input;
}

.generate-button {
  margin-bottom: 20px;
}

.enabled2fa-button {
  margin-bottom: 20px;
  width: $width-login-input;
}

.qr-code {
  display: block;
  height: 180px;
  margin: 14px 0;
  width: 180px;
}

.qr-code-text {
  margin: 4px 0 0;
}
