.two-factor {
  min-height: 200px;
}

.generate-button {
  margin-bottom: 20px;
}

.enabled2fa-button {
  margin-bottom: 20px;
}

.qr-code {
  display: block;
  height: 180px;
  margin-bottom: 20px;
  width: 180px;
}
