$sidebar: 100vh;
$sidebar-header: 8vh;
$sidebar-user: 20vh;
$sidebar-menu: $sidebar - ($sidebar-header + $sidebar-user);

.sidebar {
  height: $sidebar;
}

.sidebar-header {
  box-sizing: border-box;
  height: $sidebar-header;
  padding: 12px;
}

.sidebar-menu {
  height: $sidebar-menu;
}

.sidebar-menu-item {
  background-color: var(--sidebar-btn-color);
  border-radius: 0 20px 20px 0;
  box-sizing: border-box;
  height: 46px;
  margin: 10px;
  padding: 12px;
  width: 259px;

  a {
    color: var(--text-secondary-color);
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
  }

  .active {
    color: var(--text-secondary-color);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
  }
}

.sidebar-user {
  color: var(--text-secondary-color);
  font-size: 18px;
  height: $sidebar-user;
  width: 259px;
}

.avatar {
  background-color: var(--sidebar-btn-color);
  border-radius: 50%;
  color: var(--text-secondary-color);
  font-weight: 700;
  height: 50px;
  margin-right: 16px;
  width: 50px;
}
