.candidate {
  width: 100%;
}

.candidate-group {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.candidate-description {
  width: 100%;
}
