.candidate {
  width: 100%;
}

.candidate-group {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 50% 50%;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin: 0!important;
  padding: 0!important;
}

.candidateDescription {
  width: 100%;
}
