/* You can add global styles to this file, and also import other style files */
@import 'flex';
@import '~quill/dist/quill.snow.css';
html, body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.text-bold {
  font-weight: 700;
}
