.page-container {
  height: 100%;
}

.content-container {
  background: var(--bg-color);
  height: 60%;
  margin: 70px 0 0;
  padding: 24px;
  width: 92%;
}

.header-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
