$sidebar-header: 5vh;

.page-container {
  height: 100%;
}

.content-container {
  background: var(--bg-color);
  height: 80%;
  margin: $sidebar-header 0;
  padding: 24px;
  width: 90%;
}

.header-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
