.page-container {
  height: 100%;
}
.content-container {
  background: white;
  margin:70px 0 70px 0;
  padding: 24px;
  width: 90%;
  height: 80%;
}
.header-container{
  display: grid;
  grid-template-columns: 40% 60%;
}
